* {
    color: white;
    box-sizing: border-box;
    
    font-family: cursive;
}

html {
    background-image: url('https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg');
}

a {
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 1.4rem;
}

a:hover {
    color: #FFD77F;
}

nav, footer {
    background-color: black;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 60px;
    margin: 15px;
}

#options {
    align-items: center;
    margin-left: 100px;
}

#options a {
    margin-right: 15px;
    transition: .3s;
    text-decoration: underline 1px;
}

nav p {
    font-family: 'Cookie', cursive;
    font-size: 1.4rem;
    float: right;
    margin-right: 100px;
}

header {
    height: 212px;
    background-color: black;
    overflow: hidden;
}

header p {
    border-bottom: 2px solid white;
    font-family: cursive;
    margin-top: 20px;
    margin-left: 40px;
    padding-bottom: 6px;
}

header button {
    margin-left: 10px;
    margin-top: 10px;
}

#order {
    background-color: transparent;
    color: #7FD7FF;
    border: 1px solid #7FD7FF;
    width: 170px;
    margin-left: 40px;
}

#book {
    background-color: #936c02;
    border: 1px solid #FFD77F;
    color: #FFD77F;
    width: 120px;
}

button {
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

#book:hover, #order:hover {
    background-color: #333333;
}

header img {
    transform: scale(0.9);
    float: right;
    margin-top: -380px;
    margin-right: -65px;
}   

#content_1 {
    height: 140px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

#content_1 div{
    width: 30%;
    overflow: hidden;
    outline: 4px solid black;
}

#content_1 img {
    z-index: 2;
}

#content_1 p {
    position: relative;
    z-index: 1;
    float: right;
    text-align: center;
    margin-right: 7px;
    margin-top: 90px;
}

#content_2 {
    margin-top: 50px;
    height: 460px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 70px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.dcon2 img{
    width: 400px;
    margin-top: 20px;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}